@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8e3e7;
  font-family: "Roboto", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem;
}

nav .nav-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

nav .nav-more li a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

nav .nav-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .nav-auth li a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

nav .nav-auth .register {
  border: 1px solid transparent;
  background-color: darkred;
  margin: 5px;
  padding: 10px 20px;
  color: #fff;
}

.appreciation {
  text-align: center;
}

.appreciation .heading {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.appreciation .subheading {
  font-size: 1rem;
  font-weight: 400;
  color: #4f4f4f;
  letter-spacing: 1.5px;
}

/* Form */
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3rem auto;
  }
  
  form #cityInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    background: transparent;
    width: 25rem;
    margin: 10px 20px;
    outline: none;
  }
  
  form select {
    width: 10rem;
    height: 32px;
    outline: none;
    border: 1px solid transparent;
    margin: 10px 20px;
  }
  
  form .btn {
    border: 1px solid transparent;
    background-color: darkred;
    outline: none;
    margin: 10px 20px;
    padding: 10px 35px;
    cursor: pointer;
    color: #fff;
  }

  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    place-items: center;
    border-radius: 3px;
    gap: 20px;
    -webkit-box-shadow: 3px 5px 0 black;
            box-shadow: 3px 5px 0 black;
    padding: 3rem 5rem;
  }
  
  .cards .card_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px;
  }
  
  .cards .card_details img {
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .cards .card_details .texts {
    margin-left: 20px;
  }
  
  footer {
    overflow: hidden;
    margin-top: 7rem;
    background-color: darkred;
    color: #fff;
  }
  
  footer .footerdetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 25rem;
  }
  
  footer p {
    font-weight: 300;
    font-size: 15px;
  }
  