@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8e3e7;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATIONS */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem;
}

nav .nav-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

nav .nav-more li a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

nav .nav-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .nav-auth li a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

nav .nav-auth .register {
  border: 1px solid transparent;
  background-color: darkred;
  margin: 5px;
  padding: 10px 20px;
  color: #fff;
}

/* LANDING PAGE */
.hero {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	height: 50vh;
  }
  
  .hero .nav-auth {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	list-style: none;
  }
  
  .hero .nav-auth li {
	margin: 10px;
  }
  
  .hero .nav-auth li a {
	text-decoration: none;
  }
  
  .hero .nav-auth .register {
	border: 1px solid transparent;
	background-color: darkred;
	padding: 10px 50px;
	color: #fff;
  }
  
  .hero .nav-auth .search {
	border: 1.5px solid darkred;
	padding: 10px 50px;
	color: #000;
  }
  
  /* GRID SECTION */
  .features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding: 1rem 10rem;
	margin: 5rem 0;
  }
  
  .features div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	margin: 0 20px;
	padding: 20px;
	background-color: darkred;
	color: #fff;
  }
  
  .info {
	text-align: center;
	margin: 4rem 0;
  }

  /* FOOTER */
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	overflow: hidden;
	padding: 3rem 25rem;
	margin-top: 7rem;
	background-color: darkred;
	color: #fff;
  }
  
  footer p {
	font-weight: 300;
	font-size: 15px;
  }
  