@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8e3e7;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* HEADER */
header .row {
	padding: 0;
}

hr {
	margin: 0;
}

/* NAVIGATIONS */
nav {
	padding: 2rem 5rem;
	text-align: center;
  }
  
  nav .nav-more {
	list-style: none;
  }
  
  nav .nav-more li a {
	margin: 10px;
	text-decoration: none;
	color: black;
  }
  
  nav .nav-auth {
	list-style: none;
  }
  
  nav .nav-auth li a {
	text-decoration: none;
	color: #000;
  }
  
  nav .nav-auth .register {
	border: 1px solid transparent;
	background-color: #DC3545;
	margin: 5px;
	padding: 10px 20px;
	color: #fff;
  }
  
  nav .logo-container img {
  	max-width: 70%;
  }
  
  nav ul {
  	margin-top: 7%;
  	text-align: right;
  }
  
  

/* LANDING PAGE */
.hero {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	height: 70vh;
  }
  
  .button-default {  	
    border: 1px solid transparent;
    background-color: #DC3545;
    margin: 5px;
    padding: 10px 20px;
    color: #fff;
  }
  
  .button-default:hover {  	
  	text-decoration: none;
    border: 1px solid transparent;
    background-color: #DC3545;
    margin: 5px;
    padding: 10px 20px;
    color: #fff;
  }
  
  .hero .nav-auth {
	list-style: none;
  }
  
  .hero .nav-auth li {
	margin: 10px;
  }
  
  .hero .nav-auth .register {
	padding: 10px 50px;
  }
  
  .hero .nav-auth .search {
	background-color: transparent;
	border: 1.5px solid #DC3545;
	padding: 10px 50px;
	color: #000;
  }
  
  /* CARD SECTION IN HOME PAGE*/
  .cards {
	padding: 1rem 10rem;
  }
  
  .cards div {
	margin: 0 20px;
  }
  
  .info {
	text-align: center;
	margin: 4rem 0;
  }

  /* APPRECIATION IN ALMOST ALL THE PAGES */
  .appreciation {
	margin: 3rem 0;
	text-align: center;
  }
  
  .appreciation .heading {
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 300;
  }
  
  .appreciation .subheading {
	font-size: 1rem;
	font-weight: 400;
	color: #4f4f4f;
	letter-spacing: 1.5px;
  }

  /* FAQ ACCORDION PAGE */

  .accordion-section .panel-default > .panel-heading {
	border: 0;
	background: #f4f4f4;
	padding: 0;
  }
  
  .accordion-section .panel-default .panel-title a {
	display: block;
	font-size: 1rem;
	text-decoration: none;
  }
  
  .accordion-section .panel-default .panel-title a:after {
	font-family: 'FontAwesome';
	font-style: normal;
	font-size: 3rem;
	content: "\f106";
	color: #1f7de2;
	float: right;
	margin-top: -12px;
  }
  
  .accordion-section .panel-default .panel-title a.collapsed:after {
	content: "\f107";
  }
  
  .accordion-section .panel-default .panel-body {
	font-size: 1.2rem;
  }

/* LOGIN PAGE */
/* FORM */
.myForm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-top: 6rem;
  }
  
  .myForm input {
	width: 400px;
  }
  
  .myForm button {
	margin-top: 20px;
	padding: 7px 50px;
  }
  
  .myForm .create {
	text-decoration: none;
	color: #DC3545;
  }

  /* REGISTER PAGE FORM */
  .myRegForm {
	padding: 0 20rem;
  }
  
  .form-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	margin: 10px;
  }
  
  .form-group select {
	width: 14rem;
	height: 32px;
	outline: none;
	border: 1px solid transparent;
  }
  
  .divBtn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	margin-top: 30px;
  }
  
  .divBtn .login {
	text-decoration: none;
	color: #DC3545;
  }
  

  /* SEARCH PAGE */
  /* FORM */
  form {
	margin: 5rem auto;
  }
  
  form #cityInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    background: transparent;
    margin-right: 10px;
    font-size: 18px;
    outline: none;
  }
  
  form select {
    border: none;
    padding: 6px;
    font-size: 18px;
    margin-right: 10px;
    background-color: transparent;
    border-bottom: 2px solid;
  }
  

  /* JUMBOTRON IN MOBILINK PAGE*/
  .jumbotron {
	padding-top: 20vh;
	background: transparent;
	overflow: hidden;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	text-align: center;
  }
  
  .jumbotron a {
	text-decoration: none;
	color: #DC3545;
  }
  
  /* CARD DETAILS */
  .home-cards .card-title {
  	text-align: center;
  	font-size: 1.7rem;
  	font-weight: bold;
  }
  
  .card-details {
  	margin-bottom: 10px;
  	background-color: white;
  	padding: 12px;
  	margin: 10px auto;
  }
  
  .card-details h3 {
  	font-weight: bolder;
  	border-bottom: 3px solid #f8e3e7;
  }
  
  .card-details p {
  	margin-bottom: 2%;
  }
  
  .card-details p b {
	color: #DC3545;
  }
  
  @media(min-width: 1000px) {
	  .card-details {
	  	max-width: 49%;
	  }
  }
  
  .card-details img {
  	object-fit: cover;
  }
  
  .no-donors-message {
  	font-family: "Roboto", sans-serif;
  	font-size: 16px
  }
  
  .lifesaver {
  	text-align: center;
  }
  	
  #dialog {
    background-color: #f8e3e7;
    border: 6px solid darkred;
    top: auto;
    right: auto;
    padding: 10px;
    margin: auto;
    width: 30%;
    text-align: center
  }

  #dialog header {
    background-color: darkred;
    padding: 8px;
    color: #f8e3e7;
  }

  #dialog header .header {
    font-size: 16px;
  }

  #dialog .close-btn {
    float: right;
    font-size: 10px;
  }


  /* FOOTER */
  footer {
	overflow: hidden;
	margin-top: 7rem;
	padding: 16px;
	position: absolute;
	width: 100%;
	background-color: #DC3545;
	color: #fff;
  }
	footer .row {
		padding: 0;
	}
	
	footer .row img {
		filter: brightness(100);
	}
	
	footer .row a {
		color: white;
		margin: auto;
	}
	
	footer .row a:hover {
		text-decoration: none;
	}